# Java artifacts
*.class

# Gradle artifacts
build/
.gradle/

# Eclipse artifacts
bin/
.classpath
.project
.refactorings/
.settings/

# Idea artifacts
.idea/
*.iml

# OSX artifacts
.DS_Store/

# Spring artifacts
*.pid

adapter-deterlab/out/*
common/out/*
out/*
service-authentication/out/*
service-data/out/*
service-experiment/out/*
service-mail/out/*
service-realization/out/*
service-registration/out/*
service-team/out/*
service-transmission/out/*
service-user/out/*
service-version/out/*
