# Java artifacts
*.class

# Gradle artifacts
build/
.gradle/

# Eclipse artifacts
bin/
.classpath
.project
.refactorings/
.settings/

# Idea artifacts
.idea/
*.iml

# OSX artifacts
.DS_Store/

# Spring artifacts
*.pid
out/production/service-authentication/application.yml
out/production/service-authentication/templates/passwordResetEmailTemplate.ftl
out/production/service-data/application.yml
out/production/service-experiment/application.yml
out/production/service-mail/application.yml
out/production/service-realization/application.yml
out/production/service-registration/application.yml
out/production/service-registration/templates/verificationEmailTemplate.ftl
out/production/service-team/application.yml
out/production/service-user/application.yml
out/production/service-version/application.yml
out/production/services-in-one/application.yml
out/production/services-in-one/db/migration/V1_0__initial_schema.sql
out/production/services-in-one/db/migration/V1_2__create_tables_for_data_repo.sql
out/production/services-in-one/db/migration/V1_3__create_tables_for_image_repo.sql
out/production/services-in-one/db/migration/V1_5__add_table_for_password_reset_request.sql
out/test/adapter-deterlab/application.yml
out/test/adapter-deterlab/logback-test.xml
out/test/common/application.yml
out/test/common/logback-test.xml
out/test/service-authentication/logback-test.xml
out/test/service-authentication/templates/passwordResetEmailTemplate.ftl
out/test/service-experiment/application.yml
out/test/service-experiment/logback-test.xml
out/test/service-mail/application.yml
out/test/service-mail/logback-test.xml
out/test/service-realization/application.yml
out/test/service-realization/logback-test.xml
out/test/service-registration/application.yml
out/test/service-registration/logback-test.xml
out/test/service-registration/templates/passwordResetEmailTemplate.ftl
out/test/service-registration/templates/verificationEmailTemplate.ftl
out/test/service-team/application.yml
out/test/service-team/logback-test.xml
out/test/service-user/application.yml
out/test/service-user/logback-test.xml
out/test/service-version/logback-test.xml
out/test/services-in-one/logback-test.xml
